*{
    margin: 0;
    padding: 0
    ;
}
body{
    background-color: rgb(47, 99, 45);

}
.main-section{
    display: flex;
    flex-direction: row;
}
.horses{
    width: 1100px;

}
.horse-1,.horse-2,.horse-3{
    width: 100px;
    margin: 17px;
}

img{
    width: 170px;
}

button{
margin: 17px;
}
button{
    width: 120px;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    background-color: bisque;
}
.start{
    color: green;
}
.reset{
    color: red;
}
.finish{
    float: right;
    background-color: rgb(127, 6, 6);
    width: 5px;
    transform: translateX(-19px);
}
#myAudio{
    display: none;
}
form{
    margin: 17px;
    display: flex;
   padding-right: 15px;

}
.total{
    margin-left: 17px;
    font-weight: bold;
    font-size: 26px;
}
.horse-select{

    font-weight: bold;
}
#horse-select{
    margin-right: 15px;
}
.bet{
    font-weight: bold;
}